# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output directories
dist/
build/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/

# Environment files
.env
.env.*.local

# IDE and editor files
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Test files and coverage
.jest/
.nyc_output/

#genkit
.genkit/
